<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>admin</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-5">
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-slate-100">
    <caption><h1 class="text-xl text-black ">List of users</h1></caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th class="px-6 py-3" scope="col">Name</th>
      <th class="px-6 py-3" scope="col">Last Name</th>
      <th class="px-6 py-3" scope="col">Age</th>
      <th class="px-6 py-3" scope="col">Email</th>
      <th class="px-6 py-3" scope="col">Username</th>
      <th class="px-6 py-3" colspan="2" scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" th:each="user : ${users}">
      <td class="px-6 py-4" th:text="${user.firstName}"></td>
      <td class="px-6 py-4" th:text="${user.lastName}"></td>
      <td class="px-6 py-4" th:text="${user.age}"></td>
      <td class="px-6 py-4" th:text="${user.username}"></td>
      <td class="px-6 py-4" th:text="${user.email}"></td>
      <td class="px-1 py-1">
        <a th:href="@{/admin/update/{id}(id=${user.id})}">
          <img class="w-8 h-8" th:src="@{/img/edit-2-line.svg}">
        </a>
      </td>
      <td class="px-1 py-1">
        <form method="post" th:action="@{/admin/delete/{id}(id=${user.id})}">
          <input name="_method" type="hidden" value="delete">
          <button type="submit"><img class="w-8 h-8" th:src="@{/img/delete-row.svg}"></button>
        </form>
      </td>
    </tr>
    <tr class="rounded-md bg-gradient-to-r from-indigo-600 to-indigo-700 px-3 py-2 ml-[9.2rem] text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-r from-indigo-500 to-indigo-600">
      <td colspan="7">
        <a class="flex items-center justify-center" href="admin/create">
          <img class="w-8 h-8 ml-2.5" th:src="@{/img/add-box-line.svg}">Add new user</a>
      </td>
    </tr>
    </tbody>

  </table>
</div>
</body>
</html>