<section th:fragment="addNew" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div aria-labelledby="new-user-tab" class="tab-pane fade d-none" id="nav-new-user" role="tabpanel" tabindex="0">
    <div class="col border rounded-top ps-3 py-2">
      <h3>Add new user</h3>
    </div>
    <div class="col border rounded-bottom p-3">
      <form class="col-lg-6 col-xxl-3 mx-auto text-center" th:action="@{/admin/create}" th:method="POST"
            th:object="${user}">
        <div class="mb-3">
          <label class="form-label mt-3 mb-0" th:for="firstName"><strong>First Name</strong></label>
          <input
              class="form-control"
              name="firstName" placeholder="First Name" required th:id="firstName"
              type="text">
        </div>
        <div class="mb-3">
          <label th:for="lastName"><strong>Last Name</strong></label>
          <input
              class="form-control"
              name="lastName" placeholder="Last Name" required th:id="lastName"
              type="text">
        </div>
        <div class="mb-3">
          <label th:for="age"><strong>Age</strong></label>
          <input
              autocomplete="off"
              class="form-control"
              name="age" placeholder="Age" required th:id="age"
              type="number">
        </div>
        <div class="mb-3">
          <label th:for="email"><strong>Email</strong></label>
          <input
              class="form-control"
              name="email" placeholder="Email Address" required th:id="email"
              type="email">
        </div>
        <div class="mb-3">
          <label th:for="password"><strong>Password</strong></label>
          <input
              class="form-control"
              name="password" placeholder="Password" required th:id="password"
              type="password">
        </div>
        <div class="mb-3">
          <label class="form-label" for="roles"><strong>Role:</strong></label>
          <select
              class="form-select"
              id="roles"
              th:field="*{roles}">
            <option th:each="role : ${roles}" th:text="${role.name}" th:value="${role.id}"></option>
          </select>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <input
              class="btn btn-primary"
              type="submit"
              value="Submit">
        </div>
      </form>
    </div>
  </div>
</section>