<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${user}"></title>
  <link rel="stylesheet" th:href="@{/css/def.css}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main class="p-12 pb-52 rounded-l-lg flex justify-center">
  <form th:action="@{/edit}" method="POST" th:object="${user}">
    <div>
      <input type="hidden" name="id" th:value="${user.id}"/>
    </div>
    <div class="mt-2.5">
      <label th:for="name">First Name: </label><br>
      <input type="text" th:id="name" name="name" th:field="*{firstName}" required class="px-4 py-2 w-full outline-none border border-gray border-solid focus:border-primary transition-all placeholder:text-gray rounded-lg"><br>
    </div>
    <div class="mt-2.5">
      <label th:for="lastName">Last Name: </label><br>
      <input type="text" th:id="lastName" name="lastName" th:field="*{lastName}" required class="px-4 py-2 w-full outline-none border border-gray border-solid focus:border-primary transition-all placeholder:text-gray rounded-lg"><br>
    </div>
    <div class="mt-2.5">
      <label th:for="age">Age:</label><br>
      <input type="number" th:id="age" name="age" th:field="*{age}" class="px-4 py-2 w-full outline-none border border-gray border-solid focus:border-primary transition-all placeholder:text-gray rounded-lg"><br>
    </div>
    <div class="mt-2.5">
      <label th:for="email">Email:</label><br>
      <input type="email" th:id="email" name="email" th:field="*{email}" required class="px-4 py-2 w-full outline-none border border-gray border-solid focus:border-primary transition-all placeholder:text-gray rounded-lg"><br>
    </div>
    <div class="mt-2.5">
      <input type="submit" value="Submit" class="rounded-md bg-gradient-to-r from-indigo-600 to-indigo-700 px-3 py-2 ml-[9.2rem] text-sm font-semibold text-white shadow-sm hover:bg-gradient-to-r from-indigo-500 to-indigo-600">
    </div>
  </form>
</main>
</body>
</html>