<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main class="p-12 pb-52 rounded-l-lg flex justify-center">
  <form th:action="@{/login}" th:method="POST" th:object="${user}">
    <div>
      <input type="hidden" name="id" th:value="${user.id}"/>
    </div>
    <div class="mt-2.5">
      <label th:for="username">Username: </label><br>
      <input type="text" th:id="username" name="username" th:field="*{username}" required class="px-4 py-2 w-full outline-none border border-gray border-solid focus:border-primary transition-all placeholder:text-gray rounded-lg"><br>
    </div>
    <div class="mt-2.5">
      <label th:for="password">Password: </label><br>
      <input type="text" th:id="password" name="password" th:field="*{password}" required class="px-4 py-2 w-full outline-none border border-gray border-solid focus:border-primary transition-all placeholder:text-gray rounded-lg"><br>
    </div>
  </form>
</main>
</body>
</html>