<div aria-hidden="true" aria-labelledby="editModal" class="modal fade" id="userEdit" tabindex="-1" th:fragment="edit"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit User</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <div>
          <form id="editFrom" th:method="put">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <div class="mb-3">
              <label class="" for="editUserId"><strong>ID</strong></label>
              <input class="form-control" disabled id="editUserId" name="id" placeholder="ID" type="text">
            </div>
            <div class="mb-3">
              <label for="editFirstName">First Name</label>
              <input class="form-control" id="editFirstName" name="name" placeholder="First Name" required
                     type="text">
            </div>
            <div class="mb-3">
              <label for="editLastName">Last Name</label>
              <input class="form-control" id="editLastName" name="lastName" placeholder="Last Name" required
                     type="text">
            </div>
            <div class="mb-3">
              <label for="editAge">Age</label>
              <input class="form-control" id="editAge" name="age" placeholder="Age" required type="number">
            </div>
            <div class="mb-3">
              <label for="editEmail">Email</label>
              <input class="form-control" id="editEmail" name="email" placeholder="Email Address" required
                     type="email">
            </div>
            <div class="mb-3">
              <label for="editPassword">Password</label>
              <input class="form-control" id="editPassword" name="password" placeholder="Password" required
                     type="password">
            </div>
            <div class="mb-3">
              <label class="form-label" for="editRoles">Select role:</label>
              <select
                  class="form-select"
                  id="editRoles"
                  required
              >
                <option th:each="role : ${roles}" th:text="${role.name}" th:value="${role.id}"></option>
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit">Edit</button>
      </div>
    </div>
  </div>
</div>