<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-5">
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-slate-100">
    <caption><h1 class="text-xl text-black ">List of users</h1></caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th class="px-6 py-3" scope="col">Name</th>
      <th class="px-6 py-3" scope="col">Last Name</th>
      <th class="px-6 py-3" scope="col">Age</th>
      <th class="px-6 py-3" scope="col">Email</th>
      <th class="px-6 py-3" scope="col">Username</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" th:each="${user}">
      <td class="px-6 py-4" th:text="${user.firstName}"></td>
      <td class="px-6 py-4" th:text="${user.lastName}"></td>
      <td class="px-6 py-4" th:text="${user.age}"></td>
      <td class="px-6 py-4" th:text="${user.username}"></td>
      <td class="px-6 py-4" th:text="${user.email}"></td>
    </tr>
    </tbody>

  </table>
</div>
</body>
</html>