<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>

<header th:replace="fragments/header :: header"></header>
<main class="wrapper">
  <aside th:replace="layout :: sidebar"></aside>

  <div class="content bg-light">
    <div class="table-responsive shadow-sm rounded">
      <!-- User table -->
      <table class="table table-striped table-bordered text-center">
        <caption><h1 class="text-dark">List of users</h1></caption>
        <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td th:text="${user.id}"/>
          <td th:text="${user.firstName}"></td>
          <td th:text="${user.lastName}"></td>
          <td th:text="${user.age}"></td>
          <td th:text="${user.email}"></td>
          <td th:text="${user.roles}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

</body>
</html>